:root {
    --mainColor: #371E31;
    --firstColor: #FFBB0B;
    --secondColor: #33CC00;
}

@font-face {
    font-family: Raleway;
    src: url(/fonts/raleway/Raleway-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Raleway;
    src: url(/fonts/raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(/fonts/raleway/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url(/fonts/raleway/Raleway-SemiBold.ttf);
    font-weight: 600;   
}

body {
    max-width: 1920px;
    margin: 0px auto;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 4% 15px;
}

.nav_header {
    margin-right: auto;
    margin-left: 46px;
}

.nav_header nav {
    display: flex;
}

h1 {
    font-size: 16px;
    font-weight: 600;
}

.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
    background-color: var(--secondColor);
    color: white;
    border-radius: 32px;
    margin: auto 4px;
}

.nav1 h1{
    margin: 12px 23px 12px 24px; 
}
.nav2 h1{
    margin: 12px 47px; 
}
.nav3 h1{
    margin: 12px 47px 12px 48px;
}
.nav4 h1{ 
    margin: 12px 40px;
}
.nav5 h1{
    margin: 12px 36px 12px 37px;
}
.nav6 h1{
    margin: 12px 47px 12px 48px;
}


.personal_area {
    background-color: var(--secondColor);
    color: white;
    border-radius: 4px;
    margin: auto 0px;
}
.personal_area h1{
    margin: 12px 32px;
}

/*=======================================================================*/

main {
    padding: 0px 4%;
}

.main_block {
    display: flex;
    justify-content: space-between;
}

.first_block {
    display: flex;
    flex-direction: column;
    width: 72%;
}


.first_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main_video {
    width: 36.25%;
}

.main_video video {
    border-radius: 20px;
}

.main_text {
    width: 60.75%;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-align: end;
}

.main_text h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 4% 7.6% 3%;
}

.main_text p {
    font-size: 24px;
    font-weight: 300;
    margin: 0px 7.6%;
}

.main_text input {
    width: 84.8%;
    height: 15%;
    border-radius: 6px;
    margin: 6% 7.6% 4%;
    padding: 0px;
    border: none;
}

.main-text-button {
    position: relative;
    top: -30%;
    left: -9%;
    background-color: var(--firstColor);
    width: 160px;
    height: 23%;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    filter: drop-shadow(0px 6px 12px rgba(232, 221, 210, 0.2));
    border: none;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3%;
    color: var(--mainColor);
}



.second_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.content_column {
    display: flex;
    flex-direction: column;
    width: 36.25%;
}


.main_audio button {
    width: 10%;
    background: none;
    border: none;
    margin: 0px 45%;
}

.main_audio button img {
    width: 100%;
}

.main_audio audio{
    width: 100%;
}

.main_audio p {
    color: var(--mainColor);
    margin: 1% 0px 1.7% 20%;
}

.main_books {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.main_books button {
    width: 10%;
    height: 17.9%;
    background: none;
    border: none;
    margin: 16% 0px;
}

.main_books button img {
    height: 100%;
}

.main_books .book {
    width: 25%;
}

.main_books .book img {
    width: 100%;
}

.main_magazine {
    width: 60.75%;
    color: var(--mainColor);
}

.main_magazine button{
    width: 6%;
    background: none;
    border: none;
    margin: 0px 47%;
}

.main_magazine button img {
    width: 100%;
}

.maga_content {
    margin: 1% 0px 2%;
}

.main_magazine h2{
    font-size: 16px;
    font-weight: 500;
    margin: 3% 4.5% 0.5% 4.5%;
}

.maga_text {
    border: 1px solid var(--mainColor);
    border-radius: 12px;
    line-height: 22px;
}

.maga_text p {
    margin: 3% 4.5%;
}

.second_block {
    width: 26%;
    display: inline-block;
    text-align: center;
}

.main_master {
    background-color: var(--mainColor);
    border-radius: 12px;
    padding-bottom: 1px;
   
}

.main_master img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.main_master h2 {
    font-size: 20px;
    font-size: 500;
    margin: 6.9% 8.5% 1.8%;
    text-align: start;
}

.main_master p {
    margin: 0px 8.5% 6.9%;
    text-align: start;
}

.second_block button {
    background-color: var(--firstColor);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 4.5% 14%;
    color: var(--mainColor);
    white-space: nowrap;
    position: relative;
    top: -15px;
    box-shadow: 0px 14px 50px rgba(232, 221, 210, 0.5);
}

.partners {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.partners_img_1 {
    width: 8.1%;
    margin-right: 3.2%;
}

.partners_img_2 {
    width: 11%;
    margin-right: 3.5%;
}

.partners_img_3 {
    width: 3%;
    margin-right: 2.5%;
}

.partners_img_4 {
    width: 3%;
}
/*
h3{
    font-size: 15px;
    font-weight: 500;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    margin: 4% 8% 2.3%;
}

h5 {
    font-size: 24px;
    font-weight: 300;
    margin: 2% 8% 6%;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    margin: 32px 0px 9px 40px;
}
.first_block {
    display: flex;
}

.second_block {
    display: flex;
}


.main_video {
    
}

.main_video video{
    border-radius: 20px;
}

.main_audio {
    display: flex;
    flex-direction: column;
    margin: 28px 0px;
    color: var(--mainColor);
}

.main_audio img {
    margin: 0px 47%;
    width: 6%;
}

.main_audio p {
    padding: 24px 0px 8px 20%;
    margin: 0px;
}

.main_audio audio{
    width: 100%;
}

.main_text {
    width: 57%;
    background-color: var(--mainColor);
    border-radius: 16px;
    font-weight: 500;
    font-size: 10px;
    text-align: end;
    color: white;
    height: fit-content;
}

.main_text input {
    margin: 0px 8% 3.5%;
    
    width: 83%;
    height: 40px;
    border-radius: 6px;
}

.text_master p{
    margin: 0px 10% 5%;
}

.main_master {
    width: 25%;
    background-color: var(--mainColor);
    border-radius: 12px;
}

.text_master {
    color: white;
    margin: 0px;
}

.main_master img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}



@media screen and (max-width: 1775px) {
    .first_block {
        flex-direction: column-reverse;
        width: 60%;
    }

    .main_text {
        width: 100%;
    }

    .second_block{
        width: 100%;
        margin-top: 40px;
    }

    .main_audio {
        width: 60%;
        margin: 0px 20% 0px;
    }

    .main_master {
        width: 35%; 
    }

    
}
*/
/*=======================================================================*/

footer {
    background-color: var(--mainColor);
    border-radius: 18px;
    color: white;
    margin: 0px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.nav_footer{
    display: flex;
}

.nav_footer div:first-child{
    margin-right: 80px;
}

.a_footer {
    padding: 7px 0px;
}

.text_footer {
    max-width: 310px;
}

.text_footer button{
    padding: 12px 30px;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 500;
    background-color: var(--firstColor);
    border-style: none;
    border-radius: 3px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.con_img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.con1, .con2, .con3 {
    display: flex;
    margin: 12px 0px;
    align-content: center;
}

